//colors variables 
$color-text: #fff;
$background-color: #23345f;
$color-button: #3AB0FF;
$color-button2: #ABC9FF;
$color-light: #23345f9c;
$color-grey: rgb(136, 136, 136);
$color-task: rgb(116, 131, 180);
$color-placeholder: rgba(235, 235, 235, 0.562);