@use 'abstracts' as *;

.m-fieldset {
  min-width: 0;
  border: 0;

  &__legend {
    padding: 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $color-text-muted;

    @include mq(lg) {
      font-size: $font-size-xl;
    }
  }

  &__hint {
    font-size: $font-size-lg;
    color: $color-text-muted;

    @include mq(lg) {
      font-size: $font-size-xl;
    }
  }

  &__info {
    margin-top: $space-1;
  }

  &__content {
    margin-top: $space-5;
  }

  &__error {
    margin-top: $space-3;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    color: $color-error;
  }
}
