@use 'abstracts' as *;

.m-step-actions {
  display: flex;
  flex-direction: column;
  gap: $space-5;
  align-items: center;

  &__back {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $color-action;

    @include focus-ring;

    @include hover {
      text-decoration: underline;
    }
  }
}
