.section2-final {
  float: right;
  &__menu-burguer {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    margin-right: 50px;
    cursor: pointer;
  }

  &__title {
    color: $color-light;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    margin-bottom: 80px;
  }

  &__container-alum {
    &__title {
      color: $color-light;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    &__text {
      color: $color-button;
      font-weight: bold;
      font-size: 18px;
      margin-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__container {
    display: flex;
    width: 778px;

    &__box {
      background-color: $color-text;
      border-color: $color-grey;
      color: $color-grey;
      margin-top: 20px;
      margin-right: 50px;
      width: 400px;
      height: 50px;
      font-size: 16px;
      border-radius: 1em;
      cursor: pointer;
      &:hover {
        background-color: $color-button2;
        color: $color-text;
      }
    }
  }

  &__container-b {
    margin-bottom: 70px;
    &__button {
      background-color: $color-text;
      border-color: $color-light;
      color: $color-grey;
      width: 130px;
      height: 50px;
      font-size: 16px;
      border-radius: 1em;
      cursor: pointer;
    }
  }
}

.button-send {
  background-color: $color-button;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 1em;
  margin-bottom: 20px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.151);
  color: $color-text;
  font-size: 16px;
  margin-left: 290px;
  &__link {
    text-decoration: none;
    color: $color-text;
    font-size: 20px;
    background-color: $color-button;
  }
}

i {
  margin-left: 10px;
}
