
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background-color;
    color: $color-text;
    height: auto;
    width: 30vw;
    float: left;
   padding-top: 30px;
    
    &__elements{
        display: flex; 
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        &__title{
            color: $color-text;
            padding-top: 36px;
            padding-left: 25px;
            font-size: 30px;
        }
    }

    &__container-task{
     
        &__newcolor{
                display: flex; 
                align-items: center;
                margin-bottom: 30px;  
                
        }

        &__list{
        display: flex; 
        align-items: center;
        margin-bottom: 50px;
        color: $color-task;
        &__i{
            padding-right: 10px;
        }
    }
    }
    &__image{
        margin-top: 50px;
        width: 460px;
        height: 400px;
    }
}

.section2{
    float: right;
   
    &__menu-burguer{
        display: flex;
        justify-content: flex-end; 
        padding-top: 40px;
        margin-right: 50px;
        cursor: pointer;
    }

    &__title{
        color: $color-light;
        display: flex;
       justify-content: center;
       text-align: center;
        font-size: 35px;  
    }

    &__subtitle{
        color: $color-light;
        font-size: 20px;
    }

    &__text{
        color: $color-light; 
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__container-selects{
        display: flex;
        justify-content: space-between;
        &__label{
            color: $color-light;
            &__text{
              
                font-size: 20px;
                font-weight: bold;
            }
            &__options{
            width: 770px;
            height: 50px;
            font-size: 16px;
            border-radius: 1em;
            border-color: $background-color;
            color: $color-light;
            padding-left: 10px;
            margin-top: 30px;
            margin-right: 40px;
            
            }
        }
        
    }

    &__container-b{
        margin-bottom: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 770px;
        
        &__button-big{
            background-color: $color-text;
            border-color: $color-grey;
            color: $color-grey;
            margin-left: 10px;
            width: 340px;
            height: 50px;
            font-size: 16px;
            border-radius: 1em;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
     
    &__button{
            background-color: $color-button;
            display: flex;
        justify-content: center;
        align-items: center;
            width: 220px;
            height: 40px;
            border-style: none;
            border-radius: 1em;
            margin-top: 100px;
            margin-bottom: 20px;
            //margin-left: 280px;
            box-shadow: 3px 3px rgba(0, 0, 0, 0.151);
            color: $color-text;
            font-size: 16px;
            &__link{
                text-decoration: none;
                color: $color-text;
                font-size: 20px;
                background-color:  $color-button;
            }
          
            
    }
    &__back{
        color: $color-button;
        font-size: 18px;
        font-weight: bold;
        margin-right: 280px;
        cursor: pointer;
        
    }

}
a {  
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
};