
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background-color;
    color: $color-text;
    height: auto;
    width: 30vw;
    float: left;
   padding-top: 30px;
    
    &__elements{
        display: flex; 
        align-items: center;
        margin-bottom: 50px;
        &__title{
            color: $color-text;
            padding-top: 36px;
            padding-left: 25px;
            font-size: 30px;
        }
    }

    &__container-task{
      
        &__newcolor{
                display: flex; 
                align-items: center;
                margin-bottom: 30px;  
                
        }

        &__list{
        display: flex; 
        align-items: center;
        margin-bottom: 50px;
        color: $color-task;
    }
    }
    
}

i {margin-right:20px}

.section2{
    float: right;
   width: 60vw;
   height: auto;
    &__menu{
        display: flex;
        justify-content: flex-end; 
        padding-top: 40px;
        color: $color-grey;
        cursor: pointer;
    }

    &__title{
        color: $color-light;
        margin-top: 50px;
        margin-right: 40px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        
        
    }

    &__container-selects{
        display: flex;
        
        justify-content: space-between;
        &__label{
            color: $color-light;
            font-size: 20px;
            
            &__text{
                color: $color-light; 
            }
            &__choices{
            width: 350px;
            height: 50px;
            font-size: 16px;
            border-radius: 1em;
            color: rgba(0, 0, 0, 0.37);
            padding-left: 10px;
            margin-top: 30px;
            margin-right: 30px;
            }
        }
        
    }

&__container-alum{
    margin-top: 50px;
    &__title{
        color: $color-light;
    }
    &__text{
        color:$color-button;
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 30px;
    }
}

&__container-b{
    margin-bottom: 70px;

   
    &__button{
        background-color: $color-text;
        border-color: $color-light;
        color: $color-grey;
        width: 130px;
        height: 50px;
       margin-left: 10px;
        font-size: 16px;
        border-radius: 1em;
        cursor: pointer;
        &:hover {
            background-color: $color-button2;
            color: $color-text;
          }
        
    }
    &__button-b{
        background-color: $color-text;
        border-color: $color-grey;
        color: $color-grey;
        margin-right: 150px;
        width: 250px;
        height: 50px;
        font-size: 16px;
        border-radius: 1em;
        cursor: pointer;
        &:hover {
            background-color: $color-button2;
            color: $color-text;
          }
    }
}
    &__container-material{
        margin-bottom: 20px;
        &__title{
            color: $color-light;
        }
        &__text{
            color:$color-button;
            font-weight: bold;
            font-size: 18px;
            padding-right: 10px;
            padding-bottom: 30px;
        }
        &__button{
            color: $background-color;
            background-color: $color-button2;
            width: 200px;
            height: 50px;
            font-size: 15px;
            border-radius: 1em;
            border-style: none;
            cursor: pointer;
            &:hover {
                background-color: $color-task;
                color: $color-text;
              }
        }
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-button;
        width: 200px;
        height: 40px;
        border-style: none;
        border-radius: 1em;
        margin-bottom: 20px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.151);
        color: $color-text;
        font-size: 16px;
        &__link{
            text-decoration: none;
            color: $color-text;
            font-size: 20px;
            background-color:  $color-button;
        }
        
    }
}

